name: Schedular for gitHub action flow

on:
  schedule:
    - cron: "*/5 * * * *"
  workflow_dispatch:  

jobs: 
  run-script:
      runs-on: ubuntu-latest

      steps: 
        - name: Print with Scheduler 
          run: date
